@page
@using Spice.Utility
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<br />
<h2 class="text-info">Create New Account</h2>
<br />

<form method="post" asp-route-returnUrl="@Model.ReturnUrl">
    <div class="border backgroundWhite">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <!-- First Name -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.FirstName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.FirstName" />
            </div>
            <span class="text-danger" asp-validation-for="Input.FirstName"></span>
        </div>
        <!-- Last Name -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.LastName" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.LastName" />
            </div>
            <span class="text-danger" asp-validation-for="Input.LastName"></span>
        </div>
        <!-- Email -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Email" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.Email" />
            </div>
            <span class="text-danger" asp-validation-for="Input.Email"></span>
        </div>
        <!-- Address -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Address" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.Address" />
            </div>
            <span class="text-danger" asp-validation-for="Input.Address"></span>
        </div>
        <!-- City -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.City" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.City" />
            </div>
            <span class="text-danger" asp-validation-for="Input.City"></span>
        </div>
        <!-- Postal Code -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.PostalCode" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.PostalCode" />
            </div>
            <span class="text-danger" asp-validation-for="Input.PostalCode"></span>
        </div>
        <!-- Phone Number -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.PhoneNumber" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="text" class="form-control" asp-for="Input.PhoneNumber" />
            </div>
            <span class="text-danger" asp-validation-for="Input.PhoneNumber"></span>
        </div>
        <!-- Password -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.Password" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="password" class="form-control" asp-for="Input.Password" />
            </div>
            <span class="text-danger" asp-validation-for="Input.Password"></span>
        </div>
        <!-- Confirm Password -->
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Input.ConfirmPassword" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="password" class="form-control" asp-for="Input.ConfirmPassword" />
            </div>
            <span class="text-danger" asp-validation-for="Input.ConfirmPassword"></span>
        </div>
        <!--User Role-->
        @if (User.IsInRole(SD.ManagerUser))
        {
            <div class="form-group row">
                <div class="col-2">
                </div>
                <div class="col-5">
                    <input type="radio" name="rdUserRole" value="@SD.KitchenUser" checked/>&nbsp;@SD.KitchenUser
                    <input type="radio" name="rdUserRole" value="@SD.ManagerUser" checked/>&nbsp;@SD.ManagerUser
                    <input type="radio" name="rdUserRole" value="@SD.FrontDeskUser" checked/>&nbsp;@SD.FrontDeskUser
                </div>
            </div>
        }
        <div class="form-group row">
            <div class="col-5 offset-2">
                <button type="submit" class="btn btn-primary form-control">Register</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
