@model Spice.Models.ViewModel.IndexViewModel

<br />
<!--COUPON DISPLAY SECTION-->
@if (Model.Coupon.ToList().Count > 0)
{
    <div class="border">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupon.Count(); i++)
            {

                if (i == 0)
                {
                    <div class="carousel-item active">
                        @{
                            string imgBase64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgSrc = string.Format("data:image/png;base64,{0}", imgBase64);
                        }
                        <img src="@imgSrc" height="50px" class="d-block w-100" />
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @{
                            string imgBase64 = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgSrc = string.Format("data:image/png;base64,{0}", imgBase64);
                        }
                        <img src="@imgSrc" height="50px" class="d-block w-100" />
                    </div>
                }
            }
        </div>
    </div>
}
<br />
<br />
<div class="backgroundWhite container">
    <div class="row">
        <ul id="menu-filters" class="menu-filter-list list-inline list-inline-item text-center">
            <li class="filter active btn btn-secondary ml-1 mr-1" data-filter=".menu-restaurant">Show All</li>
            @foreach (var item in Model.Category)
            {
                <li class="filter ml-1 mr-1" data-filter=".@item.Name.Replace(" ",string.Empty)">@item.Name</li>
            }
        </ul>

    </div>

    @foreach (var category in Model.Category)
    {
        <div class="row" id="menu_wrapper">
            <partial name="_ThumbnailAreaPartialView" model="@Model.MenuItem.Where(m => m.Category.Name.Equals(category.Name))" />
        </div>
    }
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script>
        var posts = $('.post');

        $(document).ready(function () {
            $("#menu-filters li").click(function () {
                $('#menu-filters li').removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');
                var selectedFilter = $(this).data('filter');
                $('.menu-restaurant').fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });
        });
    </script>
}